In [1]:
import pandas as pd

In [2]:
# import the data. I merged both tabs from the original file, "Sales" and "Traffic"
raw_data = pd.read_csv('flaconi_test.csv')
raw_data.head()

,ORDER_WEEK,MARKETING_CHANNEL,NEW_CUSTOMER,ORDERS,REVENUE,MARKETING_COST,MARGIN,VISITS
0,01.01.19,Affiliate,False,189.2,9330.7,432.388,1276.803,2451
1,01.01.19,Affiliate,True,134.6,4986.0,534.995,8.567,2451
2,01.01.19,CRM,False,300.3,15593.4,131.634,3244.051,9307
3,01.01.19,CRM,True,41.5,2068.3,101.894,341.079,9307
4,01.01.19,Direkteingabe,False,569.3,30309.3,0.000,5650.706,25306

In [3]:
# check the type of data for each column
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771 entries, 0 to 2770
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ORDER_WEEK         2771 non-null   object
 1   MARKETING_CHANNEL  2771 non-null   object
 2   NEW_CUSTOMER       2771 non-null   bool
 3   ORDERS             2771 non-null   float64
 4   REVENUE            2771 non-null   float64
 5   MARKETING_COST     2771 non-null   float64
 6   MARGIN             2771 non-null   float64
 7   VISITS             2771 non-null   int64
dtypes: bool(1), float64(4), int64(1), object(2)
memory usage: 154.4+ KB

In [4]:
# date column type is incorrect, we need to change to date instead of object
# first make a copy of the original file
df = raw_data
# transform the date column into a date format
df['ORDER_WEEK'] = pd.to_datetime(df['ORDER_WEEK'], format='%d.%m.%y')

In [5]:
# create different columns for year and week number
df['year'] = df['ORDER_WEEK'].dt.year
df['week_number'] = df['ORDER_WEEK'].dt.isocalendar().week
#concatenate the year and the week number into one single column
df['year_week'] = df['year'].astype(str) + '-W' + df['week_number'].astype(str)
#sort the columns based on the week and year
weekly_counts = df['year_week'].value_counts().sort_index()

In [6]:
# checking for missing values
df.isna().sum()

ORDER_WEEK           0
MARKETING_CHANNEL    0
NEW_CUSTOMER         0
ORDERS               0
REVENUE              0
MARKETING_COST       0
MARGIN               0
VISITS               0
year                 0
week_number          0
year_week            0
dtype: int64

In [7]:
df.columns

Index(['ORDER_WEEK', 'MARKETING_CHANNEL', 'NEW_CUSTOMER', 'ORDERS', 'REVENUE',
       'MARKETING_COST', 'MARGIN', 'VISITS', 'year', 'week_number',
       'year_week'],
      dtype='object')

In [8]:
# import to csv
df.to_csv('flaconi_test_pre_handling.csv')